.container{
   width: max-content;
   padding: 10px;
   border: none;
   font-size: 1.05rem;
   margin-left: 10px;
   border-radius: 5px;
   background: #45a676;
   transition: .3s;
}
.container:hover{
   background: #60e3a2;
   cursor: pointer;
   transform:scale(1.1)
}