.container{
   height: 50px;
   display: flex;
   flex-direction: column;
   gap: 1rem;
   align-items: center;
   padding: 3rem 0;
}

.social{
   display: flex;
   gap: .5rem;
}

.icon{
   opacity: 0.6;
   cursor: pointer;
}